<div>
    <app-header></app-header>
</div>
<div class="container">
    <app-menu></app-menu>
    <br>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
<div>
    <br>
    <app-footer></app-footer>
</div>