    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                          <img src="https://mobilidade.estadao.com.br/wp-content/uploads/2021/12/Classic350-29-1024x683.jpg" class="card-img-top" alt="Royal Enfield Classic 350">
                          <div class="card-body">
                          <h5 class="card-title">Novidades!</h5>
                          <p class="card-text">Em breve, Royal Enfield Classic 350 disponível na loja!</p>
                          <a href="#" class="btn btn-primary">Pré-registro</a>
                        </div>
                    </div>
                  </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
            <div class="col-sm-8">
                <h1 class="text-center" style="color: red;">
                    Promoções!
                </h1>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/4954/1dbc4bf5-7e23-4c2f-b8a6-1984e920c852.png?w=767" class="d-block w-100" alt="Kawasaki Versys 650">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Kawasaki Versys 650</h5>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://motos-motor.com.br/m/wp-content/uploads/precos-tabela-suzuki-gsx-1300-b-king.jpg" class="d-block w-100" alt="Suzuki B-King">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Suzuki B-King</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://cdn.motor1.com/images/mgl/NvbmX/s1/4x3/yamaha-mt-09-2020.webp" class="d-block w-100" alt="Yamaha MT-09">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Yamaha MT-09</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://cdn.autopapo.com.br/box/uploads/2020/06/02113313/harley-davidson-fat-boy-30-anos-9-732x488.jpg" class="d-block w-100" alt="Harley-Davidson Fat Boy">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Harley-Davidson Fat Boy</h5>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
