<footer class="page-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <br>
          <h5 class="white-text">Contate-nos!</h5>
          <ul style="list-style-type: none;">
            <li>(15)9999-9999</li>
            <li>(15)3333-3333</li>
            <li>minasmotors@gmail.com</li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <br>
          <h5 class="white-text">Redes sociais</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <h6 style="text-align: center;">© 2022 Minas Motors</h6>
      </div>
    </div>
  </footer>